
.word {
    display: flex;
    // position: absolute;
    // bottom: 10px;
    // left: 50%;
    // transform: translateX(-50%);
}
  
.letter {
    border-bottom: 3px solid var(--primary);
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    height: 50px;
    width: 25px;
}