/* fonts */

@font-face {
  /* source: https://www.fontsquirrel.com/fonts/mitr */
  font-family: 'mitr';
  src: url('./assets/fonts/mitr-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* source: https://www.fontsquirrel.com/fonts/mitr */
  font-family: 'mitr';
  src: url('./assets/fonts/mitr-regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* variables */

:root {
  /* colours */
  --h-offwhite: rgb(228, 228, 226);
  --h-bg: rgb(97, 69, 106);
  --h-bg-light: rgb(120, 83, 132);
  --h-primary: rgb(202, 171, 215);
  --h-primary-a: rgba(202, 171, 215, 0.4);
  --h-secondary: rgb(153, 153, 153);

  /* fonts */
  --h-font: 'mitr', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--h-font);
  scroll-behavior: smooth;
  z-index: 1;
}

body {
  background-color: var(--h-bg);
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  /* border: 2px solid white; */
}

.btn {
  font-size: 1.25em;
}
